
	
	{% comment %} <p> {{ object.title }} </p>
	<img src="/{{object.image}}"> 

	
	<link rel="<!doctype html>
{% comment %} <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% load staticfiles%}

	

    <!-- Bootstrap CSS -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
	<div class="topinfo">
		<div class="card mb-3" >
		  <div class="row no-gutters" id="propertypic">
		  	<div class="imagecontainer">
				<div class="col-md-4">
				<img src="/{{object.image}}" class="card-img-left" alt="...">
				</div>
			</div>
			<div class="textcontainer">
				<div class="card-body">
					<p class="card-text">{{ object.title }}</p>
				
				</div>
			</div>
		  </div>
		</div>
	</div>
	
		<div id="myDIV" class="header">
		  <h2>My To Do List</h2>
		  <input type="text" id="myInput" placeholder="Title...">
		  <span onclick="newElement()" class="addBtn">Add</span>
		</div>

		<ul id="myUL">
		  <li>Hit the gym</li>
		  <li class="checked">Pay bills</li>
		  <li>Meet George</li>
		  <li>Buy eggs</li>
		  <li>Read a book</li>
		  <li>Organize office</li>
		</ul>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html> {% endcomment %}

<link rel="<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
	<div class="topinfo">
		<div class="card mb-3" style="max-width: 100vx;">
		  <div class="row no-gutters" id="propertypic">
			<div class="col-md-4">
			  <img src="/{{object.image}}" class="card-img" alt="...">
			</div>
			<div class="col-md-8">
			  <div class="card-body">
				<h5 class="card-title">Example House</h5>
				<p class="card-text">{{ object.title }}</p>
				<p class="card-text">
			  </div>
			</div>
		  </div>
		</div>
	</div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>